*.zip
Animations/*
Cache/*
Classes/*
Core/*
Editor/*
Engine/*
Fire/*
ForceFeedback/*
FrightScript/*
GamePlay/*
GoodKarma/*
GUI2K4/*
Help/*
IPDrv/*
KarmaData/*
KFChar/*
KFGui/*
KFMod/*
KFMutators/*
KFStoryGame/*
KFStoryUI/*
Maps/*
Movies/*
Music/*
Old2K4/*
ROEffects/*
ROEngine/*
ROInterface/*
SideshowScript/*
Sounds/*
StaticMeshes/*
steam_shader_cache/*
System/*
Textures/*
UnrealEd/*
UnrealGame/*
UTV2004c/*
UWeb/*
Web/*
XAdmin/*
XGame/*
XInterface/*
XVoting/*
XWebAdmin/*
